/* start of Design For small Desktop */
@media screen and (max-width:1440px){
    
    .container {
        width: 1180px;
    }

    body {
        padding-top: 70px;
    }

    header {
        height: 70px;
    }

    .hero-content h1 {
        font-size: 44px;
        letter-spacing: 1.1px;
        line-height: 50px;
        margin-bottom: 12px;
    }
    
    .hero-content p {
        font-size: 18px;
        letter-spacing: 0.45px;
        line-height: 26px;
        margin-bottom: 12px;
    }
    
    .hero-content button {
        font-size: 14px;
        letter-spacing: 0.35px;
        line-height: 21px;
        
    }    
}
/* End of Design For small Desktop */

/* start of Design For Tablets */
@media screen and (max-width:960px){
    .container {
        max-width: 92%;
    }

    header .logo {
        font-size: 24px;
    }

    header nav ul li {
        display: none;
    }
    
    header nav ul li.menu-icon {
        display: inline-block;
    }

    .hero-content h1 {
        font-size: 40px;
        letter-spacing: 1px;
        line-height: 46px;
    }
    
    .hero-content p {
        font-size: 16px;
        letter-spacing: 0.4px;
        line-height: 24px;
    }
    
    .hero-content button {
        font-size: 14px;
        letter-spacing: 0.35px;
        line-height: 21px;
        width: 196px;
        
    }
}
/* End of Design For Tablets */

/* start of Design For Mobile */
@media screen and (max-width: 576px) {
    header .logo {
        font-size: 18px;
    }

    header .logo .blue-dot {
        width: 7px;
        height: 7px;
    }

    .hero-content {
        position: static;
    }

    .hero-content h1 {
        color: #000;
        font-size: 32px;
        letter-spacing: 0.8px;
        line-height: 38px;
        text-align: center;
        margin-bottom: 32px;
        margin-top: 27px;
    }
    
    .hero-content p {
        display: none;
    }
    
    .hero-content button {
        font-size: 14px;
        letter-spacing: 0.35px;
        line-height: 21px;
        width: 196px;
        margin: auto;
        
    }
}
